.border_text_field {
    font-family: monospace;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: solid;
    white-space:pre;
}

.timer {
    font-size: 60pt; 
}

.p_score{
	color: rgb(200, 0, 0);
	font-size:40pt;
}

.o_score {
    color: rgb(0, 200, 0);
    font-size: 40pt;
}

.game_field{
    margin-top:20px;
}